name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Set gradlew executable
        run: chmod +x gradlew
      - name: Set up node
        run: |
          ./gradlew kotlinNodeJsSetup kotlinWasmNodeJsSetup kotlinNpmInstall kotlinWasmNpmInstall
      - name: Run tests
        run: ./gradlew allTests --continue
      - name: Upload test reports
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: test-reports
          path: '**/build/reports/tests/**'
          retention-days: 7
